.App{
  display: flex;
  flex-direction: column;
}
.head{
  width: 100%;
  height: .4rem;
  font-size: .14rem;
  text-align: center;
  line-height: .4rem;
  background: cyan;
  color: blue;
}
.main{
  flex: 1;
  overflow-y: scroll;
}

.footer{
  width: 100%;
  height: .4rem;
  display: flex;
  position: absolute;
  bottom: 0;
}